body {
  font-family: 'Raleway', sans-serif;
}

button {
  font-family: 'Raleway', sans-serif;
}

.new-post-button {
  background: #f4f4f4;
  color: #041121;
  padding: 0.7rem;
}

.new-post-button:hover {
  background-color: rgb(166, 166, 206);
}

#all-post-container {
  width: 90%;
}

#main {
  display: flex;
}
/* media queries */
@media all and (max-width: 600px) {
  #main {
    flex-direction: column;
  }

  .new-post-button {
    padding: 0.5rem;
  }
  #all-post-container {
    width: 100vw;
    margin: 1rem;
  }
  .delete-button button {
    font-size: 0.4rem;
    padding: 0.1rem;
    width: 3rem;
    margin: 0.3rem;
  }
  #reply-button {
    width: 20%;
  }
  #single-post textarea {
    width: 80%;
  }
  p.category > span {
    font-size: 0.8rem;
  }
  p.text {
    font-size: 0.8rem;
  }
  p.title {
    font-size: 1rem;
  }
  span.reply {
    font-size: 0.7rem;
  }
  #upvotes span {
    font-size: 1rem;
  }
}
