.new-post-button {
  background: #f4f4f4;
  color: #041121;
  padding: 0.7rem;
}

.new-post-button:hover {
  background-color: rgb(166, 166, 206);
}

#all-post-container {
  width: 90%;
}

#main {
  display: flex;
}
