.new-post-button {
  background: dodgerblue;
  color: white;
  padding: 0.7rem;
}

.new-post-button:hover {
  background-color: rgb(109, 174, 238);
}

/* #all-post-container {
  margin-left: 125px;
} */

#main {
  display: flex;
}
