#banner {
  height: 20rem;
}

#banner h1 {
  color: white;
  font-family: cursive;
  font-size: 4rem;
  position: absolute;
  font-weight: 200;
  left: 20%;
  top: 15%;
}
.small-banner-img {
  visibility: hidden;
}
@media all and (max-width: 600px) {
  #banner {
    height: 8rem;
  }
  #banner h1 {
    top: 5%;
    font-size: 1.5rem;
  }
  .small-banner-img {
    visibility: visible;
    height: inherit;
    width: 100vw;
  }
  .banner-img {
    height: 0;
    display: none;
  }
}
