#reply-list {
  height: 10rem;
  background-color: #c1d6f0;
  border: 1px solid black;
  width: 60%;
  margin-left: 10%;
  overflow: scroll;
}

#single-reply {
  width: 60%;
  font-family: 'Raleway', sans-serif;
  display: flex;
  font-size: 1.1rem;
}

#reply {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#reply button {
  height: 85%;
}

.collapse {
  text-decoration: underline;
}
.collapse:hover {
  color: rgb(252, 241, 241);
}

#reply > p {
  font-size: 1.4rem;
  font-style: italic;
}
