#reply-list {
  height: 10rem;
  background-color: #0b2647;
  border: 1px solid black;
  width: 60%;
  margin-left: 10%;
  overflow: scroll;
}

#single-reply {
  margin: 1rem auto;
  background: #e9e8e8;
  border: 0.5px solid #a8943d;
  border-radius: 11px;
}
