.sidebar {
  background-color: #041121;
  width: 250px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar button {
  margin: 2rem auto;
  background-color: rgb(224, 164, 51);
}

.sidebar select {
  width: 50%;
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 3.5rem;
    background: white;
    color: black;
    font-weight: bold;
  }
}
