.column {
  display: flex;
  flex-direction: column;
}

#upvotes {
  margin-right: 1rem;
  align-items: center;
  padding: 0.5rem;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#single-post {
  justify-content: center;
  border-radius: 11px;
  margin: 0.3rem auto;
  align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #a8943d;
}

#single-post textarea {
  height: 50px;
  width: 40%;
}

p.category > span {
  background: #0b2647;
  color: rgb(226, 149, 86);
  padding: 0.3rem;
}
#upvotes span {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem;
}
#upvotes span:hover {
  color: grey;
}

p.title {
  font-weight: bold;
  color: #041121;
  margin: 0.2rem;
  font-size: 1.4rem;
}

p.title span {
  color: grey;
}

.italic {
  font-style: italic;
}

#reply-button {
  margin: 0.2rem 0;
  width: 15%;
}

.post-details {
  width: 85%;
  background-color: #f4f4f4;
}

.underline {
  text-decoration: underline;
}

span:hover,
p:hover,
div:hover {
  cursor: default;
}

span.underline:hover {
  color: grey;
}

.delete-button {
  align-self: flex-start;
}

.delete-button button {
  background: #0b2647;
  color: white;
  padding: 0.5rem;
}
span.time {
  color: rgb(172, 80, 5);
}

p {
  margin: 0.2rem;
}
